<div ng-controller="usersController">
  <div class="container">
    <h1>Need to Register?</h1>
    <a class="btn btn-info" href="#!/register">Register Here</a>

    <h1>Login Here</h1>
    <form>
      <div class="col-md-6">
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" class="col-md-6" placeholder="Enter Email" ng-model="logUser.email">
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" class="col-md-6" placeholder="Enter Password" ng-model="logUser.password">
        </div>
        <input type="submit" class="btn btn-info" ng-click="login()">
      </div>
    </form>
  </div>
</div>
