<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>This is NEW page</h1>
    <form class="" action="/" method="post">
      <input type="text" name="name" placeholder="Panda Name">
      <input type="text" name="weight" placeholder="Panda Weight">
      <input type="text" name="age" placeholder="Panda Age">
      <input type="submit" value="Submit!">
    </form>
  </body>
</html>
