<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>SHOW PAGE</h1>
    <h1>Name: <%= Panda.name %></h1>
    <h3>Weight: <%= Panda.weight %></h3>
    <h3>Age: <%= Panda.age %></h3>
    <a href="/">Go back</a>
    <a href="/edit/<%= Panda._id %>">Edit</a>
  </body>
</html>
