<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h1>Submitted Information</h1>
      <h3>Name: <%= data.name %></h3>
      <h3>Dojo Location: <%= data.location %></h3>
      <h3>Favorite Language: <%= data.language %></h3>
      <h3>Comments: <%= data.comment %></h3><br>
     <a href="/"><button type="button">Go Back</button></a>
  </body>
</html>
